body {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 50%;
	min-width: 600px;
	margin: 20px auto;
	position: relative;
}
ol li {
	margin: 0 0 15px;
	border-bottom: 1px solid #000;
	padding: 0 0 16px;
	position: relative;
}
ol a {
	color: #DB0000;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}
ol h2 {
	margin: 0;
	font-family: "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
}
p.date {
	float: right;
	margin: 0;
	padding: -1;
	clear: none;
	position: absolute;
	top: 0px;
	right: 0;
	display: inline;
	font-size: 14px;
	line-height: 30px;
	color: #333;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #444;
	margin-top: -1px;
}
p.lead, p.inbrief, p.extended {
	line-height: 26px;
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: 300;
	font-family: "ff-meta-serif-web-pro", Georgia, serif;
	text-indent: 20px;
}
p.inbrief {
	font-size: 18px;
}
p.lead {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 20px;
}
p.extended {
	font-size: 18px;
}
h1 {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: -0.5px;
}
h1 b {
	font-weight: 700;
	letter-spacing: 0;
	padding-right: 5px;
}
ol {
	padding-left: 0;
	border-top: 2px solid #000;
	padding-top: 15px;
	list-style: none;
}
ul {
	position: absolute;
	right: 0;
	top: 0;
	list-style: none;
	margin: 0;
	line-height: 30px;
	font-size: 18px;
	text-transform: uppercase;
}
ul li {
	float: left;
	padding-left: 20px;
	font-family: "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul a {
	color: #333;
	text-decoration: none;
	font-weight: 600;
}
