<header class="prelude redundant-with-stacked-nav">
  <div class="wrapper">
    <h1>Art</h1>
  </div>
</header>
<section class="wrapper">
  <h2>Interactive</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "interactive" %}
    <li>
      <a class="post-title" href="{{ artwork.web_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h2>Drawings</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "drawings" %}
    <li>
      <a class="post-title" href="{{ artwork.url | relative_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h2>Photos</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "photos" %}
    <li>
      <a class="post-title" href="{{ artwork.url | relative_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>
