<header class="prelude redundant-with-stacked-nav">
  <div class="wrapper">
    <h1>Art</h1>
  </div>
</header>
<div class="wrapper">
  <h2 style="color: #3b3b3b; font: 300 24px/28px 'Merriweather', serif; font-weight: 300; margin: 0 0 10px;">Interactive</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "interactive" %}
    <li>
      <a class="post-title" href="{{ artwork.web_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h2 style="color: #3b3b3b; font: 300 24px/28px 'Merriweather', serif; font-weight: 300; margin: 35px 0 10px;">Drawings</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "drawings" %}
    <li>
      <a class="post-title" href="{{ artwork.url | relative_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h2 style="color: #3b3b3b; font: 300 24px/28px 'Merriweather', serif; font-weight: 300; margin: 35px 0 10px;">Photos</h2>
  <ul class="artwork-list">
  {% for artwork in site.artworks %}
    {% if artwork.hide %}
      {% continue %}
    {% endif %}
    {% if artwork.draft %}
      {% continue %}
    {% endif %}
    {% if artwork.category == "photos" %}
    <li>
      <a class="post-title" href="{{ artwork.url | relative_url }}"><img class="artwork-thumb" src="{{ artwork.thumb_url }}" alt="{{ artwork.title | escape }}" title="{{ artwork.title | escape }}"></a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
