<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>46bit</title>
<script type="text/javascript" src="//use.typekit.net/uaf2fos.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="/css/master.css">
<body>
	<div class="wrapper">
		<header class="head">
			<h1><a href="/">46bit</a> by Michael Mokrysz</h1>
			<nav class="sitenav">
				<ul>
					<li><a href="/">Weblog</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<div class="pagecontent">
			$body$
		</div>
	</div>
</body>
</html>
