{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <header class="prelude yellowlined redundant-with-stacked-nav" style="padding-bottom: 10px;">
    <div class="wrapper">
      <h1><a href="/{{ year.name }}/">{{ year.name }}</a></h1>
    </div>
  </header>
  <div class="wrapper">
    <ul class="post-list">
    {% for post in year.items %}
      {% if post.hide %}
        {% continue %}
      {% endif %}
      <li>
        <!--<p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
        {% if post.external_url %}
        <p><a class="ext post-title" href="{{ post.external_url }}">{{ post.title | escape }}</a></p>
        {% else %}
        <p><a class="post-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
        {% endif %}
        <!--{{ post.excerpt }}-->
        <!--<a class="read-more" href="{{ post.url | relative_url }}">Continue reading&hellip;</a>-->
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
