<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
  <link href="{{ "/assets/main.css" | relative_url }}?build={{ "now" | date: "%Y-%m-%dT%H-%M" }}" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/meta/feed.atom" | relative_url }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22921213-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-22921213-1');
  </script>
  <!-- $if(math)$
  <script src="/js/mathjax/MathJax.js?config=46bit"></script>
  $endif$ -->

  <title>{% if page.title %}{{ page.title | escape }} - 46b.it{% else %}{{ site.title | escape }}{% endif %}</title>
</head>
<body>
  <header id="header">
    <div class="wrapper">
      <h1><a href="/"><img src="/assets/logo.png" alt="46b.it" width="75"></a></h1>
      <nav>
        {% assign current = page.url | downcase | split: '/' %}
        <ul>
          <li {% if current[1] == 'art' %}class="active"{% endif %}><a href="/art/">art</a></li>
          <li {% if current[1] == 'writing' or current[1] == '2011' or current[1] == '2012' or current[1] == '2013' or current[1] == '2014' or current[1] == '2015' or current[1] == '2016' or current[1] == '2017' or current[1] == '2018' or current[1] == '2019' or current[1] == '2020' or current[1] == '2021' or current[1] == '2022' or current[1] == '2023' %}class="active"{% endif %}><a href="/writing/">writing</a></li>
          <li><a href="https://github.com/46bit">github</a></li>
          <li><a href="https://twitter.com/46bit">twitter</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {{ content }}
</body>
</html>
