* {
	padding: 0;
	margin: 0;
}
a {
	color: #DB0000;
}
.wrapper {
	min-width: 260px;
	max-width: 760px;
	margin: 20px auto;
	position: relative;
	padding: 0 20px;
}

.head {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 16px;
	border-bottom: 1px dotted #aaa;
}
.head h1 {
	letter-spacing: -0.5px;
	font: 300 18px/30px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.head h1 a {
	color: #000;
	font-weight: 700;
	letter-spacing: 0;
	padding-right: 5px;
	text-decoration: none;
}
.head h1 a:hover, h1 a:active {
	color: #DB0000;
}
.sitenav ul {
	top: 0;
	right: 0;
	font-size: 18px;
	list-style: none;
	line-height: 30px;
	position: absolute;
}
.sitenav ul li {
	float: left;
	padding-left: 20px;
	font: 700 18px/30px "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sitenav ul a {
	color: #333;
	text-decoration: none;
}

.pagecontent {
	clear: both;
}
.pagecontent a {
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}
.pagecontent h1 {
	margin-bottom: 14px;
	padding-bottom: 16px;
	font: 700 30px/30px "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagecontent h1 a {
	border-bottom: none;
}
.pagecontent h1 .gentle {
	font-weight: 400;
}
.pagecontent .lineheader {
	padding-bottom: 14px;
	border-bottom: 1px dotted #ccc;
}
.pagecontent h2 {
	margin-top: 20px;
	font: 700 25px/30px "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagecontent .date {
	top: 0;
	right: 0;
	color: #333;
	display: inline-block;
	padding: 0 10px;
	margin-top: -1px;
	position: absolute;
	border: 1px dotted #ccc;
	text-transform: uppercase;
	font: 400 14px/30px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 700px) {
	.pagecontent .date {
		display: none;
	}
}
.pagecontent .tags {
	top: 0;
	color: #333;
	width: 100px;
	left: -117px;
	display: inline-block;
	text-align: right;
	position: absolute;
	text-transform: uppercase;
	font: 600 16px/30px "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 1000px) {
	.pagecontent .tags {
		display: none;
	}
}
.pagecontent p {
	margin-top: 10px;
	font: 300 18px/26px "ff-meta-serif-web-pro", Georgia, serif;
}
.pagecontent .extended p:first-child {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 20px;
}
.pagecontent ul {
	margin-top: 10px;
	padding-left: 30px;
	font: 300 18px/26px "ff-meta-serif-web-pro", Georgia, serif;
}
.pagecontent blockquote {
	padding: 20px 0 20px 40px;
}
.pagecontent blockquote p {
	font-size: 18px !important;
	line-height: 26px !important;
	padding-bottom: 0 !important;
}
.pagecontent .figure {
	margin-top: 10px;
	padding: 10px 0;
}
.pagecontent .figure img {
	display: block;
	padding: 10px;
	border: 1px dotted #999;
}
.pagecontent pre {
	margin: 20px 0;
	padding: 10px;
	font-size: 14px;
	background: #FDF6E3;
	border: 1px dotted #999;
}

.pagecontent article {
	padding: 20px 0 16px;
	border-bottom: 1px dotted #ccc;
}
.pagecontent article header {
	position: relative;
}

.pagelist {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pagelist li {
	margin: 0 0 15px;
	padding: 0 0 16px;
	position: relative;
	border-bottom: 1px dotted #ccc;
}
.pagelist h2 {
	margin-top: 0;
}
.pagelist p {
	text-indent: 20px;
}
